<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="node_modules/socket.io-client/dist/socket.io.js"></script>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <style>
    table {
      width: 100%;
      border: 1px solid #444444;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #444444;
    }
    circle {
      cx: 80;
      cy: 80;
      r: 40;
      stroke: black;
      stroke-width: 3;
    }
    svg {
      height: 100;
      width: 100;
    }
  </style>
</head>
<body>
  <h1>주차상태</h1>
  <table>
    <tr>
      <th style="width:120px;">센서이름</th>
      <th>상태</th>
    </tr>
    <% Object.keys(devs).forEach(function(key) { %>
    <tr>
      <td><%- devs[key] %></td>
      <td><svg><circle fill='green' id="<%-key%>" /></svg></td>
    </tr>
    <% }); %>
  </table>
  <hr />
  <h1>payload 정보</h1>
  <h5> [[ 센서ID ]]날짜시간 | 센서EUI | dataChan | data type | value | payload</h5>
  <div id="messages" style="overflow-y:scroll; height: 500px; "></div>

  <script>
    var socket = io.connect("http://localhost:3000");
    socket.on("message_on", function(message) {
      $('#messages').append(message.payloadInfo);
      $("#messages").scrollTop($("#messages").prop("scrollHeight"));
    });
    socket.on("presence_sensor_on", function(message) {
      $('#' + message.devEui).attr('fill', message.color);
    });
  </script>
</body>
</html>